@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventarioAvemrSqlite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventarioAvemrSqlite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #7b00a6;">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-action="Index" asp-controller="Home">AvmrSystems</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="/icons/barra-de-menus.png" alt="Alternate Text" class="img-fluid"/></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @* <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventario
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Inventario</a></li>
                                <li><a class="dropdown-item" asp-action="AddItem" asp-controller="Item">Ingresar Item</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bordado
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Bordados Realizados</a></li>
                                <li><a class="dropdown-item" href="#">Ingresar Bordado</a></li>
                                <li><a class="dropdown-item" href="#">Calcular precio de Bordado</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cotizaciones
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Cotizaciones</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-white">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Listado Clientes</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Agregar Cliente</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ventas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Ventas</a></li>
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Item">Comrpas</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>